**/target/
**/node_modules/
**/application-local.properties
.env
.env.*
.vscode/

# Ignorar los juegos instalados
lowlootgames/*/*/

# Mantener los assets
!lowlootgames/*/assets/
!lowlootgames/*/assets/**